<script src="https://cdn.jsdelivr.net/gh/yj2cs/live2d-widget@latest/autoload.js"></script>
<!-- google AD sense-->
<script data-ad-client="ca-pub-7636221109973022" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
